#main-page-center {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100vh;
    width: 50vw;
}

#main-page-container {
    display: flex;
}

#main-page-left {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100vh;
    width: 25vw;
}

#main-page-right {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100vh;
    width: 25vw;
}