

.note_page_card {
    height: 408px;
    width: 576px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
}